<div class="row">
  <div class="col-md-8">
<p id="notice"><%= notice %></p>
<p>
  <h1 class="h3">all blog list</h1>
</p>

<%= link_to 'Back', blogs_path, class:"animsition-link" %>
  <% @blogs.each do |blog| %>
  <p><%= link_to blog.title + ':' + blog.created_at.strftime('%Y/%m/%d'), blog %></p>
  <% end %>
</div>
</div>
