<div class="container">
<p id="notice"><%= notice %></p>

<h1 class="h4">All Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>image</th>
    <!--  <th>profile</th> 
     <th>genres</th> -->
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user.name %></td>
        <td><%= link_to image_tag(user.image, style: 'width:100px;', class:"img-circle"), user.name %></td>
 <!--       <td><%= user.profile %></td>
        <td><% for genre in user.genres %><%= link_to genre.title, genre %>　<% end %></td> -->
        <td><% if user_signed_in? %>
        <%= link_to 'Edit', edit_user_path(user) %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
