<p id="notice"><%= notice %></p>
<div class="row">
<% if user_signed_in? %>
<%= link_to 'New Photo', new_photo_path, class:"btn btn-success" %>
<% end %>
<div class="col-md-12">
<div id="photos">
  <%= render 'photos' %>
</div>
<p>
<button type="button" class="btn btn-default btn-lg btn-block">
<%= link_to_next_page @photos, 'more photos', remote: true, id: 'more_link' %>
</button>
</p>
</div>
</div>
<script>
$(window).scroll( function() {
     var pager = $("#more_link");
     var scrollBottom = $(window).scrollTop() + $(window).height();
     if( scrollBottom > pager.offset().top ) {
           if(!$("#more_link").hasClass("displayed")){
               $("#more_link").addClass("displayed");
               $('#more_link').trigger("click");
           }
     }
});
</script>
