<p id="notice"><%= notice %></p>
<p>
  <strong>Content:</strong>
  <%= simple_format(@memo.content, {}, {:sanitize => false} ) %>
</p>
<%= link_to 'Edit', edit_memo_path(@memo) %> |
<%= link_to 'Back', memos_path %>
