        <div class="footer">
            <div class="pull-left">
              <a href="/about">about</a>
            </div>
            <div class="pull-right">
              <a href="/corporate">KOAGENBLOG(seed dev)</a> &copy; 2016
            </div>
        </div>
