        <div class="footer">
            <div class="pull-left">
              <a href="/about">about</a>seed(dev)
            </div>
            <div class="pull-right">
              <a href="/corporate">KOAGENBLOG</a> &copy; 2016
            </div>
        </div>
