        <div class="footer">
          <div class="container">
            <div class="pull-left text-muted">
              <a href="/about">about</a>
            </div>
            <div class="pull-right text-muted">
              <a href="/corporate">KOAGENBLOG(seed dev)</a> &copy; 2016
            </div>
          </div>
        </div>
