<div class="row">
<p id="notice"><%= notice %></p>
<h1 class="h3">All Users</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>image</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user.account_id %></td>
        <td><%= link_to lazy_image_tag(user.image, style: 'width:100px;', class:"img-circle"), user.account_id %></td>
       <td>
      <i class="fa fa-rss-square fa-lg fa-green"></i>
      <i class="fa fa-check-square fa-orange fa-lg"></i>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
